iframe{
    border:none;
    z-index: 19;
}

.lm_saveButton{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-size: 100% 100%;
    opacity: 0.5;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAr0lEQVRIie2VwQ2DMAxFHxVzlHUYoBLr9NiVaBmAOcIGpTcOcIBKaZTIdhA98aQc4sT+tmMpcGKkBgZgNq67VsBlBDeJfC9buAHT5vc4QsAkEgpIbfFpYvYiIuDbpWokfy5CgN2UwnmYoZnDK9AKVEAHfIAXcM0VTI1px+/0PI3+4oUxEHhr/bUt6oW9mlQFFWtbRqAl/QbZLcpO8O9jOgSZWJcfI0rNvj/BbTFO9CwJUnYXb9ZZ6AAAAABJRU5ErkJggg==");
}

.lm_saveButton :hover{
    opacity: 1;
}

.popup{
    z-index: 100;
    position: absolute;
    background-color: white;
    height: auto;
    width: auto;
    visibility: hidden;
}